{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
        {%- elsif picker_type == 'button' -%}
  {% comment %} new {% endcomment %}
  <fieldset class="js product-form__input product-form__input--pill add-new">
    <legend class="form__label">{{ option.name }} </legend>
    {% render 'product-variant-options',
      product: product,
      option: option,
      block: block,
      picker_type: picker_type
    %}
  </fieldset>

  <fieldset class="js product-form__input product-form__input--pill product-form-{{option.name}}">
    {%- liquid
        assign optionNames = settings.optionName | split:","
        assign useColor = false
        for optionColor in optionNames
          if optionColor == option.name
              assign useColor = true
              break
          endif
        endfor
    -%}
  {%- if useColor -%}
        <p class="no-margin form__label ">
              {% if  option.name != "Cutting Service" %} Choose Colour  {% endif %}
        :<span id="selected-{{ option.name }}"> {{ option.selected_value }}</span></p>
        {% render 'color-option', product: product, option: option, block: block %}
  {%- else -%}
        <legend class="form__label">
        {% if option.name == "Size" %}
          <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="0.5" width="19" height="19" rx="9.5" fill="#198A28"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.45 5.5C13.5693 5.5 13.6838 5.54741 13.7682 5.6318C13.8526 5.71619 13.9 5.83065 13.9 5.95V9.95C13.9 10.0693 13.8526 10.1838 13.7682 10.2682C13.6838 10.3526 13.5693 10.4 13.45 10.4C13.3307 10.4 13.2162 10.3526 13.1318 10.2682C13.0474 10.1838 13 10.0693 13 9.95V7.036L6.536 13.5H9.45C9.56935 13.5 9.68381 13.5474 9.7682 13.6318C9.85259 13.7162 9.9 13.8307 9.9 13.95C9.9 14.0693 9.85259 14.1838 9.7682 14.2682C9.68381 14.3526 9.56935 14.4 9.45 14.4H5.45C5.33065 14.4 5.21619 14.3526 5.1318 14.2682C5.04741 14.1838 5 14.0693 5 13.95V9.95C5 9.8909 5.01164 9.83239 5.03425 9.77779C5.05687 9.7232 5.09002 9.67359 5.1318 9.6318C5.17359 9.59002 5.2232 9.55687 5.27779 9.53425C5.33239 9.51164 5.39091 9.5 5.45 9.5C5.50909 9.5 5.56761 9.51164 5.62221 9.53425C5.6768 9.55687 5.72641 9.59002 5.7682 9.6318C5.80998 9.67359 5.84313 9.7232 5.86575 9.77779C5.88836 9.83239 5.9 9.8909 5.9 9.95V12.864L12.364 6.4H9.45C9.33065 6.4 9.21619 6.35259 9.1318 6.2682C9.04741 6.18381 9 6.06935 9 5.95C9 5.83065 9.04741 5.71619 9.1318 5.6318C9.21619 5.54741 9.33065 5.5 9.45 5.5H13.45Z" fill="white"/>
          </svg>
        {% elsif  option.name == "Cutting Service" %}
          <svg width="19" height="19" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="    margin-bottom: 4px; background: #198a28;  border-radius: 50%; padding: 3px;">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 18.5L17 3M9 18.5C9 19.8807 7.88071 21 6.5 21C5.11929 21 4 19.8807 4 18.5C4 17.1193 5.11929 16 6.5 16C7.88071 16 9 17.1193 9 18.5ZM15 18.5L7 3M15 18.5C15 19.8807 16.1193 21 17.5 21C18.8807 21 20 19.8807 20 18.5C20 17.1193 18.8807 16 17.5 16C16.1193 16 15 17.1193 15 18.5Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g>
          </svg>
          

        {% endif %}
        {% if  option.name != "Cutting Service" %} Choose  {% endif %}
        
        {{ option.name }}{%- if option.name == "Cutting Service" -%}
          <span class="grayed">
          <span>We cut your specified size (2-3 week lead time)</span>
          </span>
          <span class="cutting_fees bold">
            {% if product.selected_or_first_available_variant.metafields.custom.cutting_fees != blank and  product.selected_or_first_available_variant.metafields.custom.cutting_fees != 0 %}
              +${{product.selected_or_first_available_variant.metafields.custom.cutting_fees  | replace: '.0', ''}}
            {% else %}
              FREE
            {% endif %}
          
          </span>{%- else -%}: <span id="selected-{{ option.name }}"> {{ option.selected_value }}</span>{%- endif -%}
        </legend>
        {% render 'product-variant-options',
          product: product,
          option: option,
          block: block,
          picker_type: picker_type
        %}
  {%- endif -%}
  </fieldset>
        {%- else -%}
          <div class="product-form__input product-form__input--dropdown">
            <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
              {{ option.name }}
            </label>
            <div class="select">
              {%- if picker_type == 'swatch_dropdown' -%}
                <span
                  data-selected-value
                  class="dropdown-swatch"
                >
                  {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
                </span>
              {%- endif -%}
              <select
                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                class="select__select"
                name="options[{{ option.name | escape }}"
                form="{{ product_form_id }}"
              >
                {% render 'product-variant-options',
                  product: product,
                  option: option,
                  block: block,
                  picker_type: picker_type
                %}
              </select>
              <span class="svg-wrapper">
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}

      <script type="application/json" data-selected-variant>
        {{ product.selected_or_first_available_variant | json }}
      </script>
    </variant-selects>


  <div class="custom-properties-fields {% unless product.selected_or_first_available_variant.title contains 'Yes' %}hidden{% endunless %} ">
      {% if product.tags contains 'cassette_mounted' %}
      <div class="cassette_mounted cassette_mounted--none line-item-property__field" >
        <label class="bold main-label">Which side will the Cassette be mounted on?</label><br>
        <div class="radio_container">
          <label>
            <input
              required
              class="visible-input"
              type="radio"
              name="fake_cassette_mounted"
              value="Left"> Left
          </label>
          <label>
            <input
              required
              class="visible-input"
              type="radio"
              name="fake_cassette_mounted"
              value="Right"> Right
          </label>
        </div>
      </div>
    {% endif %}
      <div 
        class=" line-item-property__field ">
        <label for="custom-size" class="main-label">
          <b>Enter your Size  </b><span style="font-size: smaller;"> in millimetres and must be accurate.</span>
        </label>
        <div class="flex-size"
          style="margin-bottom:8px;">
          <label style="width: 55px;" for="custom-width">Width
          </label>
          <input
            type="number"
            placeholder="Top (mm)"
            class="width_input"
            name="fake_custom_size_Top"
            id="custom_size_Top"
            min="0"
            max="2900"
            required>
          <input
            type="number"
            placeholder="Bottom (mm)"
            class="width_input"
            name="fake_custom_size_Bottom"
            id="custom_size_Bottom"
            min="0"
            max="2900"
            required>

        </div>
        <div
          class="flex-size">
          <label style="width: 55px;" for="custom-height">Height
          </label>
          <input
            type="number"
            placeholder="Left (mm)"
            class="height_input"
            name="fake_custom_size_Left"
            id="custom_size_Left"
            min="0"
            max="2400"
            required>
          <input
            type="number"
            placeholder="Right (mm)"
            class="height_input"
            name="fake_custom_size_Right"
            id="custom_size_Right"
            min="0"
            max="2400"
            required>
        </div>
      </div>
      <span class="error-msg hidden">
        Please enter a valid cutting size.<br>
        The maximum width for the selected variant is <span class="max-width-msg">1800</span>mm, and the maximum height is <span class="max-height-msg">2100</span> mm.

        <span class="only-single-door">or go to the <a href="/products/retractable-fly-screen-for-doors">double door page</a> for larger spans.</span>
      </span>
      <span class="error-msg-mm hidden">
        Please enter your cutting size in mm </span>
      <span class="radio-error-msg hidden">
        Please select what side your cassette will be mounted on.
      </span>

      <div class="buttons-group">
        <span class="button button--secondary button--blue show_measure_modal">HOW TO MEASURE</span>        
        <a class="button button--secondary button--blue  button-installation"  href="/pages/installation">
          installation Services
        </a>
      </div>
  </div>
{%- endunless -%}


{% if product.handle contains 'part' %}
<a class="button button--secondary button--blue  button--full-width button-installation"  href="/pages/installation">
  Need Help Repairing?
</a>
{% endif %}

<script>

  document.addEventListener("DOMContentLoaded", function () {
//    document.addEventListener("click", function(e){
  //      if (e.target.classList.contains("size_refresh") || e.target.closest(".size_refresh")) 
    //            validateFields();
      //});

const div = document.querySelector('.product__info-wrapper');
const observer = new MutationObserver((mutations) => {
  mutations.forEach((mutation) => {
    if (mutation.type === 'attributes' && mutation.attributeName === 'data-variant') {
      const oldValue = mutation.oldValue;
      const newValue = div.dataset.variant;
      console.log('data-variant changed:', { oldValue, newValue });
      // Your handler code here
      validateFields();
      document.querySelector(".product__info-wrapper .error-msg").classList.add("hidden");
          const sides2 = ["Top", "Bottom", "Left", "Right"];
          sides2.forEach(side => {
               document.querySelector(`#custom_size_${side}`).dispatchEvent(new Event('input', { bubbles: true }));
          });

    }
  });
});

observer.observe(div, {
  attributes: true,
  attributeFilter: ['data-variant'], // Only watch data-variant attribute
  attributeOldValue: true // Include old value in mutation record
});
  

    // Sync radio buttons
    const visibleRadios = document.querySelectorAll('input[name="fake_cassette_mounted"]');
    const hiddenRadios = document.querySelectorAll('input[name="properties[Cassette Mounted]"]');
    if (visibleRadios){
      visibleRadios.forEach(radio => {
        radio.addEventListener("change", function () {
          hiddenRadios.forEach(hiddenRadio => {
            hiddenRadio.checked = hiddenRadio.value === radio.value;
          });
        });
      });
    }



    // Sync number inputs
    const sides = ["Top", "Bottom", "Left", "Right"];
    console.log("hi");
    sides.forEach(side => {
      const visibleInput = document.querySelector(`#custom_size_${side}`);
      const hiddenInput = document.querySelector(`input[name="properties[${side}]"]`);
      visibleInput.addEventListener("input", function () {
        if (this.value){
          this.value = this.value.replace(/\D/g, ''); // remove non-digits
          const value = parseFloat(this.value);
          let min = 0;
          let max = 2400
          if (this.classList.contains("width_input")  ){
              max =  Number(document.querySelector('.product__info-wrapper').dataset.vwidth);
          }else{
              max =  Number(document.querySelector('.product__info-wrapper').dataset.vheight);

          }



          if (isNaN(value) || value < min ){
            document.querySelector(".product__info-wrapper .error-msg-mm").classList.remove("hidden")

          } else if(value > max) {
            this.classList.add('input-error');
            document.querySelector(".product__info-wrapper .max-width-msg").innerText = document.querySelector('.product__info-wrapper').dataset.vwidth
            document.querySelector(".product__info-wrapper .max-height-msg").innerText = document.querySelector('.product__info-wrapper').dataset.vheight
            document.querySelector(".product__info-wrapper .error-msg").classList.remove("hidden")
            this.classList.add('input-error');

          } else {
            this.classList.remove('input-error');
            document.querySelector(".product__info-wrapper .error-msg").classList.add("hidden")
            document.querySelector(".product__info-wrapper .error-msg-mm").classList.add("hidden")

            hiddenInput.value = visibleInput.value;
          }          
        }


      });
    });



   // Select the "No" radio by its value (you can also use its id if unique)
    const cuttingServiceRadios = document.querySelectorAll('.product-form-Cutting input[name*="Cutting Service-"]');
    const container = document.querySelector('.product__info-wrapper ');
    if (cuttingServiceRadios){
      cuttingServiceRadios.forEach(radio => {
        radio.addEventListener("change", function () {
          if (radio.value === "No" && radio.checked) {
            // Clear all visible number inputs
            console.log("lol")
            document.querySelectorAll('input[type="number"]').forEach(input => {
              input.value = "";
            });
              document.querySelector('.error-msg').classList.remove("hidden");
              document.querySelector(".radio-error-msg").classList.remove("hidden")

            // Uncheck all  fake custom fields
            document.querySelectorAll('input[type="radio"][name="fake_cassette_mounted"]')?.forEach(input => {
              input.checked = false;
            });
            // Uncheck all  hidden custom fields
            document.querySelectorAll('input[type="radio"][name="properties[Cassette Mounted]"]')?.forEach(input => {
              input.checked = false;
            });

            container.classList.remove("all-entered");
          }
        });
      });
    }

    // add all-entered class
    const widthNumberInputs = container.querySelectorAll('.custom-properties-fields  input[type="number"].width_input');
    const heightNumberInputs = container.querySelectorAll('.custom-properties-fields  input[type="number"].height_input');
    const radioInputs = container.querySelectorAll('input[type="radio"][name="fake_cassette_mounted"]');

    function validateFields() {
      let allValid = true;
      widthNumberInputs.forEach(input => {
        const value = input.value.trim();
        const number = parseFloat(value);
        const currentMax = Number(document.querySelector('.product__info-wrapper').dataset.vwidth);
        if (
          value === '' || 
          isNaN(number) || 
          number < 0 || 
          number > currentMax
        ) {
          allValid = false;
        }else{
          input.classList.remove("input-error");
        }
      });

      heightNumberInputs.forEach(input => {
        const value = input.value.trim();
        const number = parseFloat(value);
        const currentMax = Number(document.querySelector('.product__info-wrapper').dataset.vheight);

        if (
          value === '' || 
          isNaN(number) || 
          number < 0 || 
          number > currentMax
        ) {
          allValid = false;
        }
      });

      if (radioInputs.length>0){
        const oneRadioChecked = Array.from(radioInputs).some(r => r.checked);
        if (!oneRadioChecked) {
          allValid = false;
        }else{
          document.querySelector('.radio-error-msg').classList.add("hidden");

        }
        // Listen for changes on radio buttons
        radioInputs.forEach(radio => {
          radio.addEventListener('change', validateFields);
        });
      }


      if (allValid) {
        container.classList.add('all-entered');
      } else {
        container.classList.remove('all-entered');
      }
    }

    document.querySelector('.product__info-wrapper .product-form__buttons').addEventListener('mouseover', function (){
      console.log("lol")
      let allEntered = document.querySelector('.product__info-wrapper').classList.contains("all-entered");
      let cutting = document.querySelector('.product__info-wrapper').dataset.variant.includes("Yes");
      if (!allEntered && cutting){
              const radioInputs = container.querySelectorAll('input[type="radio"][name="fake_cassette_mounted"]');
      if (radioInputs.length>0){
        const oneRadioChecked = Array.from(radioInputs).some(r => r.checked);
        if (!oneRadioChecked) {
          document.querySelector('.radio-error-msg').classList.remove("hidden");

        }else{
          document.querySelector('.radio-error-msg').classList.add("hidden");

        }
      }
      }

    })

    // Listen for changes on number inputs
    widthNumberInputs.forEach(input => {
      input.addEventListener('input', validateFields);
    });
    // Listen for changes on number inputs
    heightNumberInputs.forEach(input => {
      input.addEventListener('input', validateFields);
    });

    // Initial check (if values are pre-filled)
    validateFields();


});

</script>

