
<style>
.moulding-installation {
  padding: 60px 0px 0;
  font-family: sans-serif;
}
.moulding-installation .text-blogs-container {
  display: flex;
  flex-wrap: wrap;
    align-items: center;
  gap: 60px;
}
.left {
  flex: 1;
  min-width: 300px;
}
.left .tagline {
  color: #198A28;
  font-weight: bold;
  text-transform: uppercase;
}
.left h2 {
  margin-top: 10px;
}
.left .rte {
  margin-top: 20px;
  line-height: 1.4;
}
.right {
  flex: 1;
  min-width: 300px;
}

/* mobile */
@media screen and (max-width: 749px) {
  .moulding-installation .text-blogs-container{
    
    gap: 20px;
  }

}
</style> 


<section class="moulding-installation">
  <div class="page-width">
    <div class="text-blogs-container">
      <div class="left">
        <h4 class="tagline">{{ section.settings.tag }}</h4>
        <h2>{{ section.settings.heading }}</h2>
        <div class="rte">
          {{ section.settings.description }}
        </div>
      </div>

      <div class="right">
        {% assign blog_handle = section.settings.blog | handle %}
        {% assign blog = blogs[blog_handle] %}
        {% if blog.articles.size > 0 %}
          {% for article in blog.articles limit:2 %}
            <div class="dawn-article-card">
              <a href="{{ article.url }}" class="full-unstyled-link">
                <div class="thumbnail">
                    <span class="tag">Retractable Fly Screens & <br>Blockout Screens Insights</span>
                    {% if article.image %}
                      <img src="{{ article.image | img_url: 'medium' }}" alt="{{ article.title | escape }}">
                    {% else %}
                      <img src="https://cdn.shopify.com/s/files/1/0081/5628/2932/files/default-blog-image.jpg?v=17479047193" alt="Default image">
                    {% endif %}
                </div>
                <div class="article-content">
                  <h3>{{ article.title }}</h3>
                  <p>{{ article.content | strip_html | truncate: 150 }}</p>
                  
                  <span class="read-more">Continue Reading <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.3661 3.25061C10.3645 3.09285 10.3003 2.94094 10.1877 2.82828C10.075 2.71561 9.92308 2.65143 9.76532 2.64983L5.00568 2.60238C4.92668 2.60022 4.84835 2.61381 4.77527 2.64235C4.70219 2.6709 4.63581 2.71383 4.58002 2.76864C4.52423 2.82345 4.48014 2.88905 4.45032 2.9616C4.42049 3.03414 4.40554 3.1122 4.40633 3.19119C4.40712 3.27019 4.42363 3.34856 4.4549 3.42172C4.48618 3.49487 4.53159 3.56136 4.58848 3.61729C4.64538 3.67323 4.71262 3.71749 4.78629 3.7475C4.85995 3.77751 4.93856 3.79266 5.01754 3.79208L8.34096 3.82521L2.82535 9.34082C2.71489 9.45128 2.65372 9.60198 2.65529 9.75976C2.65687 9.91755 2.72106 10.0695 2.83374 10.1822C2.94643 10.2949 3.09838 10.3591 3.25616 10.3606C3.41395 10.3622 3.56465 10.301 3.67511 10.1906L9.19072 4.67497L9.22385 7.99839C9.22812 8.15439 9.29346 8.3037 9.40581 8.41415C9.51816 8.5246 9.66853 8.58737 9.82453 8.58892C9.98053 8.59048 10.1297 8.5307 10.2398 8.42247C10.35 8.31423 10.4124 8.1662 10.4136 8.01025L10.3661 3.25061Z" fill="#198A28"/></svg></span>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>No articles found in this blog.</p>
        {% endif %}
      </div>
    </div>
  </div>

</section>


{% schema %}
{
  "name": "Moulding Installation",
  "settings": [
    {
      "type": "text",
      "id": "tag",
      "label": "Section Tag",
      "default": "INSTALLATION"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading",
      "default": "Consider the Style of Mouldings"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Live in an art deco home? Different types of architrave mouldings on your door or window frame can affect the installation process...</p>"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog Source"
    }
  ],
  "presets": [
    {
      "name": "Moulding Installation Info"
    }
  ]
}
{% endschema %}
